<!--To append below the message that exists-->
<!--<turbo-stream action="append" target="messages">-->
<!--  <template>-->
<!--    <div id="message_1">This changes the existing message!</div>-->
<!--  </template>-->
<!--</turbo-stream>-->

<!--To replace the existing message-->
<turbo-stream action="replace" target="messages">
  <template>
    <div id="message_1">This changes the existing message!</div>
  </template>
</turbo-stream>